.small-centered {
  width: 60%;
}

h1 {
  color: $color-white;
  text-align: center;
}

span {
  color: $color-green-default;
}

h4 {
  color: $color-silver-light;
  text-align: center;
}

a {
  color: $color-green-default;
}

input.form-control.input-lg {
  width: 100%;
}

.small-6.small-centered.columns.login-form-container {
  width: 55%;
}

.alert.alert__success {
  color: $color-silver-dark;
  background-color: transparent;
  border: 1px solid $color-silver-dark;
}

.alert {
  border-radius: 8px;
  padding: 5px;
  text-align: center;
}

input.form-control.input-lg {
  background-color: white;
}
