.small-centered {
  width: 60%;
}

h1 {
  color: $color-white;
  text-align: center;
}

span {
  color: $color-green-default;
}

h4 {
  color: $color-silver-light;
  text-align: center;
}

a {
  color: $color-green-default;
}

input[type="text"] {
  width: 100%;
}
