/* Clearfix */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-color: #141518;
  font-family: 'Montserrat', sans-serif;
}

div.app__content {
  margin: 0 auto;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  margin: 0 auto;
}

h2, h3 {
  text-align: center;
}

h2 {
  font-size: 45px;
  color: $color-silver-light;
}

h3 {
  font-size: 18px;
  color: $color-silver-dark;
  max-width: 600px;
  margin: 0 auto 5px auto;
  // margin-bottom: 5px;
}

.add-photo-button {
  width: 115px;
  height: 30px;
  border-radius: 10px;
  font-size: 12px;
  margin: 5px auto;
  border: 1px solid #009933;
  background-color: $color-green-default;
  color: $color-white;
  font-weight: bold;
}

.add-photo-button:hover {
  background-color: #009933;
}

ul.photos-list, ul.albums-list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  flex-flow: row wrap;
  width: 210px;
}

// RESIZE IMAGES LIST BASED ON DEVICE WIDTH

@media (min-width: 600px) and (max-width: 800px) {
  ul.photos-list, ul.albums-list {
    width: 420px;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  ul.photos-list, ul.albums-list {
    width: 630px;
  }
}

@media (min-width: 900px) and (max-width: 1020px) {
  ul.photos-list, ul.albums-list {
    width: 840px;
  }
}

@media (min-width: 1020px) {
  ul.photos-list, ul.albums-list {
    width: 1050px;
  }
}

.image-element-class, .album-image-container {
  display: block;
  width: 200px;
  height: 200px;
  width: 200px;
  height: 200px;
  min-height: 200px;
  margin: 5px;
}

.image-element-class img {
  height: 100%;
  width: 100%;
  // max-height: 700%;
  // max-width: 700%;
  object-fit: cover;
}

// ALBUM INDEX PAGE
li.album-item:hover a {
  color: white;
}

span {
  color: $color-green-default;
}

button.new-album-button {
  width: 101px;
  height: 30px;
  border-radius: 10px;
  font-size: 14px;
  margin: 2px auto 10px auto;
  border: 1px solid $color-green-dark;
  background-color: $color-green-default;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  display: block;
}

.photo-container {
  margin: 0 auto;
  max-height: 50%;
  max-width: 50%;
}

li.album-item {
  display: inline-block;

  h4 {
    margin-top: 15px;
  }
}

li.album-item:hover {
  h4 {
    color: $color-green-default;
  }
}

div.album-image-container {
  text-align: center;
  display: inline-block;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
