/* Clearfix */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.photo-modal {
  background-color: $color-silver-dark;
}

.new-photo {
  max-width: 70%;
  max-height: 50%;
  display: block;
  margin: 10px auto;
}

.input-wrapper {
  border-radius: 5px;
  border: 2px solid #006633;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  width: 84%;
  display: block;
  margin: 10px auto;
  background-color: black;
  color: white;
}

input[type="text"] {
  width: calc(100% - 40px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  padding: 6px 10px;
  display: inline-block;
  background-color: black;
  color: white;
  border: 0;
}

input[type="text"]:focus {
  border: 0;
}

.return-arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  height: 20px;
  float: right;
  margin: 6px 10px;
}

// PHOTO DETAIL MODAL
.photo-detail {
  // max-width: 70%;
  max-height: 50%;
  display: block;
  margin: 25px auto 10px auto;
}

a.photo-caption {
  text-align: center;
  margin: 10px auto;
  display: block;
  color: $color-white;
}

a.photo-caption:hover {
  cursor: default;
}

.return-arrow:hover {
  cursor: pointer;
}
